@import "../../../../sass/base/variables";
@import "../../../../sass/base/mixins";

@media screen and (min-width: 601px) {
  .about__header {
    @include desktop-header;
    background-position: center 70%;
    position: relative;
    z-index: 0;
  }
}

@media screen and (max-width: 600px) {
  .about__header {
    @include mobile-header;
  }
}
